h1 {
  color: #bc6903;
  font-family: snell roundhand;
  font-size: 5em;
  font-weight: bolder;
}

h3 {
  margin: 1%;
  font-family: snell roundhand;
  font-size: 2.1em;
}

body {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-attachment: fixed;
  color: #cdcfd3;
}

.container {
  margin-top: 27%;
  margin-left: 9%;
}
